<%= turbo_frame_tag(board) do %>
  <div class="board">
    <% board.width.times do |row| %>
      <% board.height.times do |col| %>
        <div
          class="square <%= square_color(row, col) %>"
          id=<%= square_index(row, col) %>
        >
           <%= render_robot(robot) if robot_in_board_index_position?(robot, row, col) %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>